<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>App</title>
</head>

<body>
  <div class="container-fluid">
    <!-- As a heading -->
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Navbar</span>
      </div>
    </nav>

    <div class="col-md-12 d-flex justify-content-center">
      <form action="salvar?token={{token.token}}&email={{token.email}}" method="post">
        <p>{{message}}</p>
        <div class="input-group mb-3 mt-2 col-md-4">
          <span class="input-group-text" id="basic-addon1">
            <svg id="i-unlock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none"
              stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 7 9 3 16 3 23 3 23 8 23 9 M16 20 L16 23" />
              <circle cx="16" cy="24" r="1" />
            </svg>
          </span>
          <input type="password" 
          class="form-control" 
          id="password"
          placeholder="Nova Senha" 
          name="password" 
          required="Obrigatorio"
          minlength="8">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <svg id="i-unlock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none"
              stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 7 9 3 16 3 23 3 23 8 23 9 M16 20 L16 23" />
              <circle cx="16" cy="24" r="1" />
            </svg>
          </span>
          <input type="password" 
          class="form-control" 
          placeholder="Nova Senha" 
          name="password_again" 
          id="password_again"
          required="Obrigatorio"
          class="left"
          minlength="8">
        </div>

        <div class="input-group mb-3">
          <input type="submit" 
          class="form-control btn btn-primary" 
          id="salvar">
          <input type="reset" class="form-control btn btn-danger">
        </div>
      </form>
    </div>
  </div>

</body>
</html>